<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.gob.electronic_dnie">
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
</manifest>
